.pagination-container {}

.client-pagination {

  .prev-page,
  .next-page {
    padding: 0.25rem 1rem;
    border: 1px solid white;
    border-radius: 30px;
    cursor: pointer;

    &:hover {
      background-color: white;
      color: black;
    }

  }

  .rest-pages {
    padding: 0.25rem 1rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 1rem;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    cursor: pointer;
  }

  .rest-pages:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.13);
    filter: blur(10px);
    margin: -20px;
  }
}