.container {
  width: 100%;
  background-image: url('../../../public/assets/images/main-client-bg.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: radial-gradient(41.11% 39.93% at 50% 43.93%,
  #3a79d8 0%,
  #032560 52.26%,
  #08162d 100%);
}

.swing {
  display: inline-block;
  -webkit-animation-name: swingDown;
  animation-name: swingDown;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-transform: rotate(-7.5deg);
  -moz-transform: rotate(-7.5deg);
  -ms-transform: rotate(-7.5deg);
  transform: rotate(-7.5deg);
  transform-origin: bottom right;

  &:hover {
    -webkit-animation: pushUp 0.5s;
    animation: pushUp 0.5s;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}