.container {
  width: 100%;
  background-image: url('../../../public/assets/images/main-client-bg.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}