.navbarList {
  display: flex;
  padding: 5px 5px 5px 15px;
  background-color: #1c1c1e;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  align-items: center
  gap: 10px;
}

.item,
.subitem {
  list-style: none;
  padding: 5px;
  cursor: pointer;
}

.item li {
  display: flex;
  align-items: center;
  border-radius: 10px
}

.item li:hover {
  background-color: aliceblue;
  color: black;
}

.item li:not(:has(button)) {
  gap: 5px;
  padding: 5px 10px;
}

.item a {
  text-decoration: none;
  color: white;
}

.item>a:hover,
.subitem>a:hover,
.item>div:hover {
  color: gray;
}